html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

.header {
    position: relative;
    width: 100%;
    height: 10%;
    background-color: gray;   
    float: left; 
}
.center-button-navigation {
    position: fixed;
    height: 10%;
    background-color: hotpink;
    left: 50%;
    transform: translate(-50%, 0);
    
}
.button-navigation {
    position: relative; 
    margin: auto;
    text-align: center;
    vertical-align: middle;
    background-color: greenyellow;
    float: left;
    width: 100%;
    height: 100%;
}

.logo {
    position: relative;
    float: left;
    text-align: center;
    vertical-align: middle;
    width: 15%;
    height: 100%;
    background-color: blanchedalmond;
}

.logo_ss {
    position: relative;
    height: 100%;
    float: left;
    width: 25%;
}

.logo_ssHeader {
    position: relative;
    height: 100%;
    float: left;
    width: 100%;
}

.pTest {
    color: white;
}